.portfolio-tiles__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 0;
  list-style-type: none;
}
.hoverable {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  font-style: normal;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  &:hover,
  &:focus {
    color: #fff;
    background-color: var(--blue);
    cursor: pointer;
    
  }
}

.portfolio-tiles__container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  .portfolio-titles__tile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
  }
  &:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
  }

  .portfolio-tiles__header {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;

    &:hover,
    &:focus {
      .portfolio-tiles__overlay {
        transform: translateX(0);
      }
    }
  }
}



.portfolio-tiles__overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
  transition-duration: 250ms;
  transition-timing-function: ease;
  > p {
    color: #ffffff;

    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-left: 24px;
    margin-right: 24px;
  }
}
